@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

@font-face {
    font-family: "crait";
    src: url("../storage/font/FondyScript.ttf");
}

html,
body {
    margin: 0;
    height: 100%;
    background: #1a032b;
    overflow: hidden;
    perspective: 10rem;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* (A) WRAPPER */
#quizWrap {
    max-width: 600px;
    margin: 0 auto;
    /* RECOMMENDED FIXED HEIGHT IF YOU HAVE CONTENT BELOW THE QUIZ */
    /* SO THAT PAGE LAYOUT DOES NOT "JUMP" */
    /* height: 250px; */
}

/* (B) QUESTION */
#quizQn {
    padding: 20px;
    background: #1d8dca;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}

/* (C) ANSWERS */
#quizAns {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
#quizAns input[type="radio"] {
    display: none;
}
#quizAns label {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
#quizAns label.correct {
    background: #d8ffc4;
    border: 1px solid #60a03f;
}
#quizAns label.wrong {
    background: #ffe8e8;
    border: 1px solid #c78181;
}

/* (X) DOES NOT MATTER - COSMETICS */
/* PAGE & BODY */
* {
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

/* WIDGET */
.widget-wrap {
    width: 600px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    z-index: 50;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
}

/* FOOTER */
#code-boxx {
    font-weight: 600;
    margin-top: 30px;
    height: fit-content;
}
#code-boxx a {
    border: 0;
    padding: 5px;
    text-decoration: none;
    background: #b90a0a;
    color: #fff;
}
h1 {
    text-align: center;
}
#ending {
    display: none;
    color: white;
    position: relative;
    font-size: 50px;
    z-index: 50;
    text-align: center;
}
#starting {
    display: none;
    color: white;
    position: relative;
    font-size: 50px;
    z-index: 50;
    text-align: center;
}
