body {
    margin: 0;
    height: 100%;

    overflow: hidden;
}

#coverBlack {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: #000000;
}
#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
