@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

@font-face {
    font-family: "crait";
    src: url("../storage/font/FondyScript.ttf");
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

.boss {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}
.text {
    color: aliceblue;
    font-size: 50px;
    font-family: "Josefin Sans", sans-serif;
}
