@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap');
footer
{
position: fixed;
bottom: 0;
left: 0;
text-align: center;
width: 100%;
background-image: url('/storage/images/wood.jpg'); 
font-size: 18px;
color: #fff;
z-index: 30;
border-top: 5px double black;
font-family: 'Josefin Sans', sans-serif;
}