@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

@font-face {
    font-family: "crait";
    src: url("../storage/font/FondyScript.ttf");
}
body {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/50598/concrete-wall-background.jpg)
        center center fixed;
    background-size: cover;
}

.shade {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.65), transparent);
    z-index: 15;
}

.blackboard {
    position: relative;
    width: 740px;
    height: 340px;
    margin: 12% auto;
    border: rgb(160, 82, 45) solid 12px;
    border-top: rgb(160, 82, 45) solid 12px;
    border-left: rgb(160, 82, 45) solid 12px;
    border-bottom: rgb(160, 82, 45) solid 12px;
    box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #2a1800,
        0px 0px 0px 4px #512e00, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
    background-image: radial-gradient(
            circle at left 30%,
            rgba(34, 34, 34, 0.3),
            rgba(34, 34, 34, 0.3) 80px,
            rgba(34, 34, 34, 0.5) 100px,
            rgba(51, 51, 51, 0.5) 160px,
            rgba(51, 51, 51, 0.5)
        ),
        linear-gradient(
            215deg,
            transparent,
            transparent 100px,
            #222 260px,
            #222 320px,
            transparent
        ),
        radial-gradient(circle at right, #111, rgba(51, 51, 51, 1));
    background-color: #333;
    z-index: 15;
}

.blackboard:before {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            175deg,
            transparent,
            transparent 40px,
            rgba(120, 120, 120, 0.1) 100px,
            rgba(120, 120, 120, 0.1) 110px,
            transparent 220px,
            transparent
        ),
        linear-gradient(200deg, transparent 80%, rgba(50, 50, 50, 0.3)),
        radial-gradient(
            ellipse at right bottom,
            transparent,
            transparent 200px,
            rgba(80, 80, 80, 0.1) 260px,
            rgba(80, 80, 80, 0.1) 320px,
            transparent 400px,
            transparent
        );
    border: #2c2c2c solid 2px;
    content: "Create your character";
    text-decoration: underline;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.2em;
    color: rgba(238, 238, 238, 0.7);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 10;
}

.form {
    padding: 70px 20px 20px;
    z-index: 10;
}

label {
    vertical-align: middle;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6em;
    color: rgba(238, 238, 238, 0.7);
}

p:nth-of-type(5) > label {
    vertical-align: top;
}

input,
textarea {
    vertical-align: middle;
    padding-left: 10px;
    background: none;
    border: none;
    font-family: "crait";
    font-size: 20px;
    color: rgba(238, 238, 238, 0.8);
    line-height: 0.6em;
    outline: none;
    padding-top: 10px;
}

::-moz-selection {
    background: rgba(238, 238, 238, 0.2);
    color: rgba(238, 238, 238, 0.2);
    text-shadow: none;
}

::selection {
    background: rgba(238, 238, 238, 0.4);
    color: rgba(238, 238, 238, 0.3);
    text-shadow: none;
}

.rock {
    width: 1300px;
    height: 800px;
    z-index: -10;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}
.rockimage {
    position: relative;
    z-index: -10;
}
input {
    z-index: 10;
    position: relative;
    padding-bottom: 10px;
}

button {
    z-index: 10;
    position: relative;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
    background: transparent;
    color: rgba(0, 0, 0, 0.9);
    font-size: 25px;
    border: 1px solid rgba(238, 238, 238, 0.8);
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;

    cursor: pointer;
    display: inline-flex;

    height: 48px;

    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;

    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

button:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}

.wipeout {
    text-align: center;
    padding-top: 15px;
}
select {
    background: transparent;
    color: white;
    font-size: 20px;
    border: none;
    font-family: "crait";
    color: rgba(238, 238, 238, 0.7);
    z-index: 10;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    cursor: pointer;
}
option {
    background: transparent;
    font-family: "crait", serif;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 300;
}
.tracecrait {
    position: absolute;
    top: 60%;
    left: 78%;
    z-index: 200;
    width: 150px;
    height: 150px;
    transform: rotate(12deg);
    opacity: 0.8;
}
