@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

@font-face {
    font-family: "crait";
    src: url("../storage/font/FondyScript.ttf");
}

.container {
    width: 900px;
    height: 600px;
    border-radius: -2px;
    position: relative;
}

html,
body,
#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(103, 208, 246);
    background: linear-gradient(
        90deg,
        rgba(103, 208, 246, 1) 0%,
        rgba(56, 182, 255, 1) 35%,
        rgba(70, 174, 247, 1) 100%
    );
}

/* Cloud1 with shadow */
.cloud1 {
    position: absolute;
    width: 270px;
    height: 250px;
    left: 320px;
    visibility: hidden;
}

.cloud_1 {
    position: relative;
    width: 100%;
    height: 100%;
}

#circle1 {
    width: 90px;
    height: 90px;
    background: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 55px;
    left: 70px;
}
#circle2 {
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 100px;
    left: 0px;
}
#circle3 {
    width: 65px;
    height: 60px;
    background: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 93px;
    left: 148px;
}
#circle4 {
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 120px;
    left: 190px;
}
#rect {
    width: 185px;
    height: 72px;
    background: #ffffff;
    border-radius: 0px;
    position: absolute;
    top: 128px;
    left: 45px;
}
#circle1Shadow {
    width: 90px;
    height: 90px;
    background: #000000;
    border-radius: 50px;
    position: absolute;
    top: 62px;
    left: 77px;
}
#circle2Shadow {
    width: 100px;
    height: 100px;
    background: #000000;
    border-radius: 50px;
    position: absolute;
    top: 107px;
    left: 7px;
}
#circle3Shadow {
    width: 65px;
    height: 60px;
    background: #000000;
    border-radius: 50px;
    position: absolute;
    top: 100px;
    left: 155px;
}
#circle4Shadow {
    width: 80px;
    height: 80px;
    background: #000000;
    border-radius: 50px;
    position: absolute;
    top: 127px;
    left: 197px;
}
#rectShadow {
    width: 185px;
    height: 72px;
    background: #000000;
    border-radius: 0px;
    position: absolute;
    top: 135px;
    left: 52px;
}

#cloud1Shadow {
    opacity: 0.33;
}

#text1 {
    position: absolute;
    top: 60%;
    left: 50%;
    margin: 0px auto;
    transform: translate(-50%, -50%);
    font-family: "Josefin Sans", sans-serif;
    color: #0083ca;
    font-size: 30px;
}

/* Cloud2 with shadow */
.cloud2 {
    position: absolute;
    width: 235px;
    height: 250px;
    left: 325px;
    visibility: hidden;
}

.cloud_2 {
    position: relative;
    width: 100%;
    height: 100%;
}

#circle1_2 {
    width: 81px;
    height: 81px;
    background: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 61px;
    left: 95px;
}
#circle2_2 {
    width: 90px;
    height: 90px;
    background: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 102px;
    left: 148px;
}
#circle3_2 {
    width: 58.5px;
    height: 54px;
    background: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 93px;
    left: 47px;
}
#circle4_2 {
    width: 72px;
    height: 72px;
    background: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 120px;
    left: 0px;
}
#rect_2 {
    width: 163px;
    height: 64.8px;
    background: #ffffff;
    border-radius: 0px;
    position: absolute;
    top: 127px;
    left: 32px;
}
#circle1Shadow_2 {
    width: 81px;
    height: 81px;
    background: #000000;
    border-radius: 50px;
    position: absolute;
    top: 67px;
    left: 102px;
}
#circle2Shadow_2 {
    width: 90px;
    height: 90px;
    background: #000000;
    border-radius: 50px;
    position: absolute;
    top: 109px;
    left: 155px;
}
#circle3Shadow_2 {
    width: 58.5px;
    height: 54px;
    background: #000000;
    border-radius: 50px;
    position: absolute;
    top: 100px;
    left: 54px;
}
#circle4Shadow_2 {
    width: 72px;
    height: 72px;
    background: #000000;
    border-radius: 50px;
    position: absolute;
    top: 127px;
    left: 7px;
}
#rectShadow_2 {
    width: 163px;
    height: 64.8px;
    background: #000000;
    border-radius: 0px;
    position: absolute;
    top: 134px;
    left: 39px;
}

#cloud2Shadow {
    opacity: 0.33;
}

#text2 {
    position: absolute;
    top: 60%;
    left: 50%;
    margin: 0px auto;
    transform: translate(-50%, -50%);
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    color: #0083ca;
}

#input1 {
    transform: translate(-152px, -54px);
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    visibility: hidden;
    border: 1px solid rgb(35, 0, 0);
    border-radius: 50px;
    text-align: center;
    box-shadow: -4px 3px 0px black;
    width: 180px;
    height: 40px;
    z-index: 10;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
}

#button1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10%;
    visibility: hidden;
    font-family: "Josefin Sans", sans-serif;
}

#score {
    visibility: hidden;
    position: absolute;
    transform: translate(680px, -590px);
    font-family: "Josefin Sans", sans-serif;
    color: #ff0000;
    visibility: hidden;
}

#button2 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    visibility: visible;
    box-shadow: 0px 1px 0px 0px rgb(221, 115, 9) inset;
    background: red;
    border-radius: 9px;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: "Josefin Sans", sans-serif;
    font-size: 20pt;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgb(60, 143, 173);
    padding: 15px;
    z-index: 10;
    font-family: "Josefin Sans", sans-serif;
}

#button3 {
    position: relative;
    transform: translate(-50%, 50%);
    visibility: hidden;
    box-shadow: 0px 1px 0px 0px rgb(221, 115, 9) inset;
    background: red;
    border-radius: 9px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: "Josefin Sans", sans-serif;
    font-size: 20pt;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgb(60, 143, 173);
    padding: 15px;
    z-index: 10;
    top: 50%;
    left: 50%;
    text-align: center;
}

#gameOver {
    position: relative;
    transform: translate(155px, -670px);
    visibility: hidden;
    box-shadow: 0px 1px 0px 0px rgb(221, 115, 9) inset;
    background: red;
    border-radius: 9px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: "Josefin Sans", sans-serif;
    font-size: 20pt;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgb(60, 143, 173);
}
#background {
    position: relative;
    height: 800px;
    width: 1200px;
    left: 50%;
    transform: translate(-50%);
}
