@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

@font-face {
    font-family: "crait";
    src: url("../storage/font/FondyScript.ttf");
}

body {
    align-items: center;
    background-image: url("/storage/images/scoob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.4s;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    perspective: 1200px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    bottom: 10%;
    height: 400px;
    width: 800px;
    overflow: hidden; /* Enable scroll if needed */
    left: 50%;
    transform: translate(-50%);
}

.tutorial {
    width: 300px;
    height: 300px;
}

/* Modal Content */
.modal-content {
    background-image: url("/storage/images/blackboard.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    height: 400px;
    width: 700px;
    text-align: center;
    text-decoration: underline;
}

.board {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    position: relative;
    top: 20px;
    transform-style: preserve-3d;
    /* transform: rotateX(50deg) rotateZ(22deg); */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clone {
    display: none;
}

.cube {
    -webkit-animation: enter 600ms ease-out;
    animation: enter 600ms ease-out;
    transform-style: preserve-3d;
    transform: translateZ(0) scale(1);
    transition: all 350ms ease-out;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cube.flipped {
    pointer-events: none;
    transform: rotateY(180deg) translateZ(0) scale(1);
    transition: all 500ms ease-out;
}
.cube.matched {
    pointer-events: none;
    transform: rotateY(180deg) translateZ(0) scale(1);
    -webkit-animation: match 650ms ease-out;
    animation: match 650ms ease-out;
}

.face {
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: inset 0 0 2px 1px #fff0d2;
    height: 100px;
    overflow: hidden;
    position: absolute;
    transform-origin: 50% 50%;
    width: 100px;
}

.face:nth-child(1) {
    background-color: wheat;
    cursor: pointer;
    transform: rotateY(0deg) translateZ(10px);
    transition: background 150ms ease-out;
}
.face:nth-child(1):before {
    align-items: center;
    bottom: 0;
    color: #93794c;
    content: "?";
    display: flex;
    font-family: "Fredoka One", cursive;
    font-size: 60px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.face:nth-child(2) {
    background-color: #efca86;
    width: 20px;
    transform: rotateY(90deg) translateZ(90px);
}

.face:nth-child(3) {
    background-color: dodgerblue;
    transform: rotateY(180deg) translateZ(10px);
}

.face:nth-child(4) {
    background-color: #efca86;
    width: 20px;
    transform: rotateY(270deg) translateZ(10px);
}

.face:nth-child(5) {
    background-color: #efca86;
    height: 20px;
    transform: rotateX(90deg) translateZ(10px);
}

.face:nth-child(6) {
    background-color: #efca86;
    height: 20px;
    transform: rotateX(-90deg) translateZ(90px);
}

.overlay {
    align-items: center;
    background: rgba(170, 170, 170, 0.75);
    width: 100vw;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    opacity: 1;
    position: absolute;
    height: 100vh;
    transition: all 500ms ease-out;
    z-index: 100;
    overflow: hidden;
}

.overlay.hidden {
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-out;
}
.overlay.hidden .gameover {
    transform: translateY(60px);
    transition: all 300ms ease-out;
}

.gameover {
    align-items: center;
    background-color: #fff;
    border-radius: 120px;
    border: 12px solid #50b8f7;
    color: #2e2e2e;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    height: 120px;
    width: fit-content;
    font-weight: bold;
    justify-content: space-between;
    padding: 0 10px 0 30px;
    transform: translateY(0);
    transition: all 500ms ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reset {
    background-color: #38c08f;
    border-radius: 50%;
    border: 0;
    box-shadow: 0px 6px 0px 0px #008a5d;
    cursor: pointer;
    display: block;
    height: 94px;
    margin-left: 20px;
    position: relative;
    top: -3px;
    width: 96px;
}
.reset:active {
    box-shadow: none;
    top: 0;
}
.reset:focus {
    outline: 0;
}

.submit {
    display: none;
    background-color: #38c08f;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 6px 0px 0px #008a5d;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: "Josefin Sans", sans-serif;
    font-size: 20pt;
    height: 75px;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 15px;
    width: 160px;
}

.twitter__link {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: -1;
    background: #fff;
    border-radius: 20px;
    height: 30px;
    text-decoration: none;
    padding-right: 10px;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #00aced;
    font-size: 14px;
    width: 74px;
    opacity: 0.4;
    z-index: 10;
}
.twitter__link:hover {
    opacity: 1;
}

.twitter__icon {
    height: 30px;
}

[data-tile="monkey"] div:nth-child(3) {
    background: #fff8e7 url("/storage/images/animals/monkey/monkey.svg") center
        center no-repeat;
    background-size: 85px;
}

[data-tile="snake"] div:nth-child(3) {
    background: #fff8e7 url("/storage/images/animals/snake/snake.svg") bottom
        center no-repeat;
    background-size: 85px;
    background-position: center;
}

[data-tile="lion"] div:nth-child(3) {
    background: #fff8e7 url("/storage/images/animals/lion/lion.svg") center
        center no-repeat;
    background-size: 85px;
}

[data-tile="giraffe"] div:nth-child(3) {
    background: #fff8e7 url("/storage/images/animals/giraffe/giraffe.svg")
        center center no-repeat;
    background-size: 85px;
}

[data-tile="elephant"] div:nth-child(3) {
    background: #fff8e7 url("/storage/images/animals/elephant/elephant.svg")
        center center no-repeat;
    background-size: 85px;
}

/* [data-tile="elephant"] div:nth-child(3)::after {
    content: "elephant";
    text-align: center;
    font-size: 12px;
} */

[data-tile="crocodile"] div:nth-child(3) {
    background: #fff8e7 url("/storage/images/animals/crocodile/crocodile.svg")
        center center no-repeat;
    background-size: 85px;
}

audio {
    display: none;
}

@-webkit-keyframes enter {
    0% {
        transform: translateZ(-20px) scale(0.3);
    }
    50% {
        transform: translateZ(20px) scale(1.02);
    }
    100% {
        transform: translateZ(0) scale(1);
    }
}

@keyframes enter {
    0% {
        transform: translateZ(-20px) scale(0.3);
    }
    50% {
        transform: translateZ(20px) scale(1.02);
    }
    100% {
        transform: translateZ(0) scale(1);
    }
}
@-webkit-keyframes match {
    0% {
        transform: rotateY(180deg) translateZ(-15px);
    }
    50% {
        transform: rotateY(180deg) translateZ(10px);
    }
    100% {
        transform: rotateY(180deg) translateZ(0);
    }
}
@keyframes match {
    0% {
        transform: rotateY(180deg) translateZ(-15px);
    }
    50% {
        transform: rotateY(180deg) translateZ(10px);
    }
    100% {
        transform: rotateY(180deg) translateZ(0);
    }
}
