@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

@font-face {
    font-family: "crait";
    src: url("../storage/font/FondyScript.ttf");
}
body,
html {
    margin: 0px;
    padding: 0px;
}
body {
    overflow: hidden;
    height: 100vh;
    background-image: url("/storage/images/tavern.jpg");
}
.quizz-wrapper {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}
.quizz-wrapper .quizz {
    margin: 10px auto;
    max-width: 360px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 68, 87, 0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 68, 87, 0.5);
    box-shadow: 0px 5px 5px 0px rgba(0, 68, 87, 0.5);
}
.quizz-wrapper .quizz .card {
    display: none;
    min-height: 400px;
}
.quizz-wrapper .quizz .card.active {
    display: block;
}
/* Question */
.quizz-wrapper .quizz .card.question-wrapper .header {
    background-color: #07d1de;
    min-height: 70px;
    margin-bottom: 30px;
}
.quizz-wrapper .quizz .card.question-wrapper .question {
    box-sizing: border-box;
    padding: 10px 15px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 28px;
}
.quizz-wrapper .quizz .card.question-wrapper .answers {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 15px;
}
.quizz-wrapper .quizz .card.question-wrapper .answers a {
    margin-bottom: 15px;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    color: #007699;
    transition: all 0.2s ease-in-out;
    font-size: 25px;
}
.quizz-wrapper .quizz .card.question-wrapper .answers a:hover {
    text-decoration: underline;
    background-color: #007699;
    color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 68, 87, 0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 68, 87, 0.5);
    box-shadow: 0px 5px 5px 0px rgba(0, 68, 87, 0.5);
}
/* Answer */
.quizz-wrapper .quizz .card.answer .header {
    min-height: 70px;
    box-sizing: border-box;
    padding: 10px 15px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: #fff;
}
.quizz-wrapper .quizz .card.answer .answer {
    box-sizing: border-box;
    padding: 10px 15px;
    font-family: "Josefin Sans", sans-serif;
}
.quizz-wrapper .quizz .card.answer .reset {
    text-align: center;
    margin-bottom: 20px;
}
.quizz-wrapper .quizz .card.answer .reset a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    color: #007699;
}
.quizz-wrapper .quizz .card.answer .reset a:hover {
    text-decoration: underline;
}
.quizz-wrapper .quizz .card.answer .reset h1 {
    font-size: 30px;
    font-weight: 700;
    color: #2ecc71;
}
/* Right Answer */
.quizz-wrapper .quizz .card.answer.true .header {
    background-color: #2ecc71;
}
/* Wrong Answer */
.quizz-wrapper .quizz .card.answer.false .header {
    background-color: #e74c3c;
}
#heure1 {
    position: absolute;
    text-align: center;
    margin: auto;
    display: flex;
    padding-bottom: 50px;
    padding-left: 100px;
    height: 500px;
    height: 500px;
}
h1 {
    text-align: center;
    color: #f72008;
    padding-top: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
}
.quizz {
    background-color: white;
}
.submit {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    color: rgba(0, 68, 87, 0.5);
    background-color: white;
    font-family: "Josefin Sans", sans-serif;
    padding: 10px;
    font-size: 25px;
    box-shadow: 0 0 10px rgba(0, 68, 87, 0.5);
}
