@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

@font-face {
    font-family: "crait";
    src: url("../storage/font/FondyScript.ttf");
}

html,
body {
    margin: 0;
    height: 100%;
    background: #1a032b;
    overflow: hidden;
    perspective: 10rem;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fire-wrapper {
    left: 50%;
    position: absolute;
    top: 50%;
    transform-origin: top center;
    transform: translate(-50%, 0) rotate3d(1, 0, 0, 60deg);
    width: 3.5rem;
}

.fire {
    animation: whoosh 1s linear infinite both;
    width: 100%;
}

@keyframes whoosh {
    from {
        transform: translateY(-25%);
    }
    to {
        transform: translateY(0);
    }
}

.rain {
    position: absolute;
    width: 1rem;
    height: 10rem;
    background: #ffffff;
    border-radius: 20%;
    opacity: 0.2;
    z-index: 1;
}

.drop {
    width: 1rem;
    height: 7rem;
    background: #ffffff;
    position: absolute;
    border-radius: 20%;
    opacity: 0.2;
}

.rain1 {
    left: 5rem;
    top: 2rem;
    animation: raining 2s linear infinite both;
}

.rain2 {
    left: 15rem;
    top: 10rem;
    animation: raining 3s linear infinite both;
}

.drop2 {
    top: 12rem;
    animation: raining 4s linear infinite both -2s;
}

.rain3 {
    left: 5rem;
    top: 35rem;
    animation: raining 3s linear infinite both;
}

.rain4 {
    right: 23rem;
    top: 6rem;
    animation: raining 4s linear infinite both;
}

.rain5 {
    left: 25rem;
    top: 47rem;
    animation: raining 3s linear infinite both -3s;
}

.drop5 {
    top: -6rem;
    animation: raining 2s linear infinite both;
}

.rain6 {
    right: 10rem;
    top: 34rem;
    animation: raining 3s linear infinite both;
}

.rain7 {
    left: 34rem;
    top: 10rem;
    animation: raining 2s linear infinite both -5s;
}

.rain8 {
    right: 25rem;
    top: 40rem;
    animation: raining 3s linear infinite both;
}

.drop8 {
    top: -7rem;
    animation: raining 4s linear infinite both -6s;
}

.rain9 {
    right: 5rem;
    top: 15.5rem;
    animation: raining 3s linear infinite both;
}

.rain10 {
    left: 24rem;
    top: -4rem;
    animation: raining 2s linear infinite both -3s;
}

.drop11 {
    right: 17rem;
    top: 20rem;
    animation: raining 3s linear infinite both;
}

.drop12 {
    right: 15rem;
    top: 50rem;
    animation: raining 4s linear infinite both -1s;
}

@keyframes raining {
    from {
        transform: translateY(-1200px);
    }
    to {
        transform: translateY(869px);
    }
}

span {
    font-size: 45px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1em;
}
.rw-wrapper {
    width: 80%;
    position: absolute;
    margin: 110px auto 0 auto;
    padding-left: 50px;
}

.rw-words {
    display: inline;
    text-indent: 10px;
    line-height: 2.5em;
}

.rw-words-1 span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #ffffff;
    -webkit-animation: rotateWord 20s linear infinite 0s;
    -ms-animation: rotateWord 20s linear infinite 0s;
    animation: rotateWord 20s linear infinite 0s;
}
.rw-words-1 span:nth-child(1) {
    -webkit-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
    color: #ffffff;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 7s;
    -ms-animation-delay: 7s;
    animation-delay: 7s;
    color: #ffffff;
}

.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
    color: #ffffff;
}

.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 13s;
    -ms-animation-delay: 13s;
    animation-delay: 13s;
    color: #ffffff;
}

.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
    color: #ffffff;
}

.rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
    color: #9b6b9d;
}

@-webkit-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -ms-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -ms-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.male {
    color: rgb(41, 95, 255);
    line-height: 0;
    font-weight: bold;
    padding: 0;
}
.female {
    color: rgb(255, 0, 183);
    line-height: 0;
    font-weight: bold;
    padding: 0;
}
