body {
    background: #970c23;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body::before {
    background: repeating-linear-gradient(
        transparent,
        transparent 2em,
        rgba(45, 25, 25, 0.3) 2em,
        rgba(45, 25, 25, 0.3) 2.5em,
        transparent 2.5em,
        transparent 4.5em,
        rgba(45, 25, 25, 0.3) 4.5em,
        rgba(45, 25, 25, 0.3) 6.5em,
        transparent 6.5em,
        transparent 7em,
        rgba(45, 25, 25, 0.3) 7em,
        rgba(45, 25, 25, 0.3) 9em
    );
    content: "";
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

body::after {
    background: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 2em,
        rgba(45, 25, 25, 0.3) 2em,
        rgba(45, 25, 25, 0.3) 2.5em,
        transparent 2.5em,
        transparent 4.5em,
        rgba(45, 25, 25, 0.3) 4.5em,
        rgba(45, 25, 25, 0.3) 6.5em,
        transparent 6.5em,
        transparent 7em,
        rgba(45, 25, 25, 0.3) 7em,
        rgba(45, 25, 25, 0.3) 9em
    );
    content: "";
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

/* Bouton Jouer */

/* Logo central */
#staff {
    animation: staff 2s;
    animation-delay: 0.1s;
    z-index: 10;
    position: absolute;
    top: 33%;
    right: 52%;
    transform: translate(50%, -50%);
}
#sword {
    animation: sword 2s;
    animation-delay: 0.1s;
    z-index: 10;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes sword {
    from {
        left: 90%;
    }
    to {
        left: 50%;
    }
}
@keyframes staff {
    from {
        right: 90%;
    }
    to {
        right: 52%;
    }
}

button {
    position: absolute;
    top: 70%;
    right: 0;
    left: 0;
    display: block;
    width: 240px;
    padding: 40px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    box-shadow: 0 10px 20px -5px #94a6af;
    overflow: hidden;
    z-index: 50;
}

button:before,
button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

button:before {
    transform: scale(1);
    background-image: url("https://himalayasingh.github.io/button-hover-effect-1/img/bg.jpg");
    background-size: cover;
    transition: 0.3s ease transform;
    z-index: 1;
}

button:after {
    background-color: #000;
    opacity: 0.16;
    z-index: 2;
}

button div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

button div:before,
button div:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding: 25px 0;
    transition: 0.3s ease all;
}

button div:before {
    content: "JOUER";
    letter-spacing: 0;
    opacity: 1;
    transform: scale(1);
}

button div:after {
    content: "C'EST PARTI";
    letter-spacing: -10px;
    transform: scale(0);
    opacity: 0;
}

button:hover:before {
    transform: scale(1.3);
}

button:hover div:before {
    letter-spacing: 3px;
    opacity: 0;
    transform: scale(4);
}

button:hover div:after {
    letter-spacing: 0;
    opacity: 1;
    transform: scale(1);
}
